/node_modules
/Modules/*/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/lang/bg.json
/resources/lang/en.json
.env
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
