@import "~admin-lte/plugins/daterangepicker/daterangepicker.css";
@import "~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.css";

@import "~admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css";

@import "~admin-lte/plugins/select2/css/select2.min.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css";

@import "~admin-lte/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.css";

@import "~admin-lte/dist/css/adminlte.css";

.no-radius {
    border-radius: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.parsley-error {
    background: #fff !important;
    border-color: #ff5b57 !important
}

.parsley-error:focus {
    border-color: #cc4946 !important;
    outline: 0;
    box-shadow: 0 0 0 .125rem rgba(204, 73, 70, .3) !important
}

.parsley-success {
    background: #fff !important;
    border-color: #00acac !important
}

.parsley-success:focus {
    border-color: #008a8a !important;
    outline: 0;
    box-shadow: 0 0 0 .125rem rgba(0, 172, 172, .3) !important
}

.parsley-error, .parsley-success {
    color: #2d353c !important;
    box-shadow: none !important
}

.parsley-error:focus, .parsley-success:focus {
    color: #2d353c !important
}

.parsley-errors-list {
    padding: 0 !important;
    list-style-type: none !important;
    margin: 0 !important;
    color: #e5603b;
    font-size: 12px !important;
    line-height: inherit !important
}

.parsley-errors-list.filled {
    margin-top: 5px !important
}
