// include bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";
// import jquery-ui
@import "~jqueryui/jquery-ui.min.css";
// import data-tables css
@import "../../../../../public/modules/plugins/DataTables/media/css/dataTables.bootstrap.min.css";
@import "../../../../../public/modules/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css";
// add dropzone css
@import "~dropzone/dist/dropzone.css";
// add select2
@import "~select2/dist/css/select2.min.css";
@import "~tag-it/css/jquery.tagit.css";

.select2-container {
    width: 100% !important;
    border-radius: 0px !important;
}

// Variables
@import 'variables';
// import  theme css
@import "./theme/default/style.min.css";
@import "./theme/default/style-responsive.min.css";
@import "./theme/default/theme/default.css";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-header {
    border-right: 1px solid #eee;
}

.has-error {
    border: 1px solid $red !important;
}

.err-msg {
    color: $red !important;
}

.no-radius {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

td > a {
    display: block;
    color: #707478;
}

td > a:hover {
    //display: block;
    color: #707478;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;

    .btn,
    .btn-group {
        float: none;
        display: table-cell;
        width: 1%;

        .btn {
            width: 100%;
        }

        .dropdown-menu {
            left: auto;
        }
    }
}

//body {
//  -webkit-user-select: none;
//  -moz-user-select: -moz-none;
//  -ms-user-select: none;
//  user-select: none;
//}

.border-top {
    border-top: 1px solid #ccc;
}

.border-right {
    border-right: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.margin-bottom-1 {
    margin-bottom: 10px !important;
}

.navbar-brand {
    margin-right: 0px !important;
}

.no-background {
    background: none !important;
}
